:root {
  --color-black: #03151d;
  --color-blue: #468faf;
  --color-blue-2: #21566d;
  --color-yellow: #faca06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', sans-serif;
  background-color: #f5f5ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--color-blue);
  color: #e5e5e5;
  box-shadow: 0.2rem 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
  border: none;
  font-family: 'Righteous', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 10rem;
  margin: 0.25rem;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;

  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

button:disabled {
  filter: brightness(0.6);
  cursor: not-allowed;
}

button:disabled:hover {
  box-shadow: 0.2rem 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}

.horizontalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Initial Screen */

#initialScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;

  justify-content: space-evenly;
}

.logoContainer {
  height: 50%;
}

#initialScreen img {
  max-width: 35rem;
  /* margin-bottom: 5rem; */
}

#initialScreen h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: whitesmoke;
}

#initialScreen button {
  padding: 1rem 4rem;

}

/* Game */

.game {
  display: flex;
}

#gameBoard {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue-2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

  max-width: 40rem;

  display: grid;
  gap: 0.7rem;
  padding: 0.7rem;
  border-radius: 1rem;

}

.easy {
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.normal {
  grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.hard {
  grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.card {
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  transition: transform 0.4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card img {
  width: 70%;
}

.card-front,
.card-back {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back {
  width: 100%;
  transform: rotateX(0deg);
}

.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Timer */

.button.play {
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  box-sizing: border-box;
  border-width: calc(1.5rem / 2) 0 calc(1.5rem / 2) 1.5rem;
  border-color: red blue green yellow;
  border-color: transparent transparent transparent var(--color-black);
}

.button.pause {
  width: 1.5rem;
  height: 1.5rem;
  border-style: double;
  border-width: 0 0 0 calc(1.5rem / 1.5);
  border-color: var(--color-black);
}

.buttonContainer {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer .button.pause {
  position: relative;
  left: 0.27rem;
}

/* Points */

.gameData {
  margin-left: 1rem;
}

/* Game paused */

#gamePaused {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

/* Game Finish */

#gameFinish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameFinish h1 {
  color: var(--color-yellow);
  font-size: 3rem;
  margin-bottom: 1rem;
}

#gameFinish h2 {
  color: var(--color-blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#gameFinish button {
  font-family: 'Righteous', sans-serif;
  background-color: var(--color-blue);
  color: var(--color-black);
  border: 0.2rem solid var(--color-black);
  border-radius: 0.3rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

#gameFinish button:hover {
  cursor: pointer;
  color: var(--color-yellow);
  background-color: var(--color-blue-2);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}

/* Responsive */

@media (max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 568px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}


/* Difficulty Buttons */

.difficulty {
  margin-top: 0.5rem;
}