:root {
  --color-black: #03151d;
  --color-blue: #468faf;
  --color-blue-2: #21566d;
  --color-yellow: #faca06;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', sans-serif;
  background-color: #f5f5ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue-2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

  max-width: 40rem;

  display: grid;
  gap: 0.7rem;
  padding: 0.7rem;
  border-radius: 1rem;

  grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.card {
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  transition: transform 0.4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card img {
  width: 70%;
}

.card-front,
.card-back {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back {
  width: 100%;
  transform: rotateX(0deg);
}

.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#gameFinish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameFinish h1 {
  color: var(--color-yellow);
  font-size: 3rem;
  margin-bottom: 1rem;
}

#gameFinish h2 {
  color: var(--color-blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#gameFinish button {
  font-family: 'Righteous', sans-serif;
  background-color: var(--color-blue);
  color: var(--color-black);
  border: 0.2rem solid var(--color-black);
  border-radius: 0.3rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

#gameFinish button:hover {
  cursor: pointer;
  color: var(--color-yellow);
  background-color: var(--color-blue-2);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}

/* Responsive */

@media (max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 568px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}