:root {
  --color-blue: #468faf;
  --color-blue-2: #367996;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameBoard {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue-2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

  max-width: 40rem;

  display: grid;
  gap: 0.7rem;
  padding: 0.7rem;
  border-radius: 1rem;

  grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
}

.card {
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card img {
  width: 70%;
}

.card-front,
.card-back {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back {
  width: 90%;
}

.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
